@import "../../colours.scss";

.home-container {
    background: linear-gradient(0deg, rgba(64, 64, 64, 0.9), rgba(64,64,64, 0.9)), url('../../background_5.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    display: flex;
    height: 80vh;
    width: 100%;
}

.hero-container .heading {
    color: $backgroundColour;
    margin: auto 0 !important;
}

.heading {
    font-size: 6rem;
    color: white !important;

    span {
        text-transform: uppercase;
        color: $secondaryColour;
        font-weight: 600;
    }
}